figure {
  margin: 0;
}
.app {
  text-align: center;
  height: 100%;
}

.app-container {
  background-color: #282c34;
  color: #ffffff;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  font-size: calc(10px + 2vmin);
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.card {
  border: 1px solid #ffffff;
  border-radius: 10px;
  max-width: 300px;
  margin-bottom: 10px;
}

.card:hover{
  cursor: pointer;
}

.card-img figure img{
  border-radius: 10px;
}

.card-img figure img:hover{
  filter: blur(5px);
}

.card-description {
  padding: 0 30px;
}

.card-name {
  white-space: nowrap;
  overflow: hidden;
  
}