figure {
  margin: 0;
}
.app {
  text-align: center;
  height: 100%;
}

.app-container {
  background-color: #282c34;
  color: whitesmoke;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  font-size: calc(10px + 2vmin);
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.card {
  border: 1px solid #ffffff;
  border-radius: 10px;
  max-width: 300px;
  margin-bottom: 10px;
}

.card:hover{
  cursor: pointer;
}

.card-img figure img{
  border-radius: 10px;
}

.card-img figure img:hover{
  filter: hue-rotate(180deg);
}

.card-description {
  padding: 0 30px;
}

.card-name {
  white-space: nowrap;
  overflow: hidden;
  
}

.modal {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,.8);
}

.card-detail{
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-size: calc(10px + 2vmin);
  color: white;
  top: 0;
}

.card-detail-description{
  width: 100%;
  padding: 30px;
}

.caracteristic {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.caracteristic p {
  margin: 5px;
}

.caracteristic-value {
  color: #17ff75;
}

@media only screen and (max-width: 700px){
  .card-container{
    justify-content: center;
  }
  .card-detail{
    flex-direction: column;
  }
}